/* general */
:root {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    --lightgreen: #E1EFB4;
    --green: #44B052;
    --lightgray: #E3E3E3;
    --gray: #B0B6B1;
    --darkgray: #424242;
    --background-gray: #F3F3F3;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.negbr {
    display: block;
    margin-bottom: -0.75em;
}
.bigbr {
    display: block;
    margin-bottom: 2em;
}
h2 {
    color: var(--darkgray);
    text-align: left;
}
h3 {
    font-size: 18px;
    color: var(--green);
}
h4 {
    font-size: 16px;
    color: var(--green);
}

/* containers */
.top-container {
    display: grid;
    grid-template-columns: 280px 1fr;
    height: 600px;
}
.bottom-container {
    height: 300px;
}


/* side */
.side {
    background: var(--background-gray);
}
.side-item {
    margin-left: 30px;
    margin-right: 30px;
}
.two-col {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 80px 80px;
}
.three-col {
    display: flex;
    place-items: center;
    justify-content: center;
    grid-template-columns: 40px 60px 40px;
    column-gap: 25px;
}


/* main */
.main {
    border: 1px solid black;
}



/* buttons */
#generate-button {
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: var(--green);
    border: none;
    border-radius: 7px;
    box-shadow: 6px 7px 15px rgba(0, 0, 0, 0.1);
    height: 45px;
    width: 180px;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 25px;
    color: var(--darkgray); 
    background: white;
    height: 60px;
    width: 60px;
    border-radius: 15px;
    box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.15);
}
.smallbtn {
    height: 33px;
    font-size: 20px;
    font-weight: 600;
    background: white;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.15);
}
button:active {
    transform: scale(0.98);
    box-shadow: 3px 4px 13px rgba(0, 0, 0, 0.05);
}



/* toggle switch */
.side .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.side .switch {
    position: relative;
    width: 56px;
    height: 30px;
}
.side label {
    position: absolute;
    width: 60px;
    height: 34px;
    background-color: var(--lightgray);
    border-radius: 50px;
    cursor: pointer;
}
.side input {
    position: absolute;
    display: none;
}
.side .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 46px;
    transition: 0.3s;
}
.side input:checked ~ .slider {
    background-color: var(--lightgreen);
}
.side .slider::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: var(--gray);
    transition: 0.3s;
}
.side input:checked ~ .slider::before {
    transform: translateX(26px);
    background-color: var(--green);
    box-shadow: none;
}