/* general */
:root {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    --lightgreen: #E1EFB4;
    --green: #44b064;
    --background-green: #F2F9F1;
    --lightgray: #d3d3d3;
    --gray: #a7a7a7;
    --darkgray: #2f2f2f;
    --red: rgb(255, 59, 29);
    --background-gray: rgb(243, 243, 243);
}
.center {
    text-align: center;
}
.negbr {
    display: block;
    margin-bottom: -0.75em;
}
.bigbr {
    display: block;
    margin-bottom: 2em;
}
hr {
    margin: 0;
    padding: 0;
}
.inline {
    display: inline-block;
}
.right {
    position: absolute;
    right: 0;
    margin-right: 30px;
    margin-top: 10px;
}

/* fonts */
h2 {
    color: var(--darkgray);
    text-align: left;
}
h3 {
    font-size: 18px;
    color: var(--green);
}
h4 {
    font-size: 16px;
    color: var(--green);
}
.h-tf {
    font-weight: 600;
}
.table-font {
    padding: 12px;
    font-size: 15px;
}
#smallText {
    font-size: 13px;
}

/* containers */
.top-container {
    display: grid;
    grid-template-columns: 280px 1fr;
    height: 600px;
    box-shadow: inset 0px -10px 15px -7px rgba(0,0,0,0.1);
}
.bottom-container {
    display: none;
    height: 300px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 100px;
}


/* side */
.side {
    background: var(--background-gray);
    box-shadow: inset -10px -10px 15px -7px rgba(0,0,0,0.05);
}
.side-item {
    margin-left: 30px;
    margin-right: 30px;
}
.two-col {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 80px 80px;
}
.side .three-col {
    display: flex;
    place-items: center;
    justify-content: center;
    grid-template-columns: 40px 60px 40px;
    column-gap: 25px;
}
.square {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 25px;
    color: var(--darkgray); 
    background: white;
    height: 60px;
    width: 60px;
    border-radius: 15px;
    box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.15);
}


/* main */
.headers {
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
}



/* buttons */
#generate-button {
    height: 45px;
    width: 180px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: var(--green);
    border-radius: 7px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.smallbtn {
    height: 33px;
    font-size: 20px;
    font-weight: 600;
    background: white;
    border-radius: 10px;
}
.circle-btn {
    width: 32px;
    height: 32px;
    font-size: 18px;
    color: var(--green);
    background: white;
    border-radius: 50%;
}
button {
    border: none;
    box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.2);
}
button:active {
    transform: scale(0.98);
    box-shadow: 3px 4px 6px rgba(0, 0, 0, 0.15);
}
.center-flex {
    display: flex;
    justify-content: center;
}
#submit {
    border: none;
    background: none;
    box-shadow: none;
    font-size: 16px;
    font-weight: 600;
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 6px;
    padding-bottom: 7px;
    color: var(--green);
    background-color: var(--lightgreen);
    border-radius: 7px;
}



/* toggle switch */
.side .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.side .switch {
    position: relative;
    width: 56px;
    height: 30px;
}
.side label {
    position: absolute;
    width: 60px;
    height: 34px;
    background-color: var(--lightgray);
    border-radius: 50px;
    cursor: pointer;
}
.side input {
    position: absolute;
    display: none;
}
.side .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 46px;
    transition: 0.3s;
}
.side input:checked ~ .slider {
    background-color: var(--lightgreen);
}
.side .slider::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: var(--gray);
    transition: 0.3s;
}
.side input:checked ~ .slider::before {
    transform: translateX(26px);
    background-color: var(--green);
    box-shadow: none;
}


/* popups */
.popup-outer {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: var(--background-gray);
    border-radius: 15px;
    -webkit-box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.25);
            box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.25);
}
.popup-inner {
    display: none;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 25px;
}
.popup-inner .three-col {
    display: flex;
    place-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 15px;
    margin-bottom: 10px;
}


/* radio buttons */
input[type="radio"] {
    display: none;
}
label:has(.radio-headers:checked), label:has(.radio-editor-headers:checked) {
    color: var(--green);
}
label:has(.radio-headers) {
    color: var(--darkgray);
    font-weight: 600;
    padding: 12px;
}
label:has(.radio-editor-headers) {
    color: var(--darkgray);
    font-weight: 600;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 18px;
}


/* table */
table {
    width: 100%;
    border-collapse: collapse;
}
.scrollable-table {
    display: block;
    overflow-y: auto;
    height: 542px;
}
tr:nth-child(even) {
    background-color: var(--background-green);
}
td.sticky {
    background-color: white;
    position: sticky;
    top: 0;
}
tr:hover {
    background-color: #4fb56d;
    color: white;
}


/* forms */
.inline-form {
    padding-top: 5px;
    padding-bottom: 5px;
}
.inline-form span input {
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    padding: 7px;
}
.inline-form span:has(input), textarea {
    display: block;
    overflow: hidden;
    padding-right: 10px;
    border-radius: 5px;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.1);
}
.inline-form label {
    font-weight: 500;
    font-size: 15px;
    color: var(--darkgray);
    padding-top: 5px;
}

span input:focus, textarea {
    outline: none;
}
label.label-right {
    float: right;
    padding-left: 10px;
    padding-right: 5px;
}
label.label-left {
    float: left;
    padding-right: 10px;
}
textarea {
    width: 248px;
    resize: none;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    padding: 7px;
}


/* generated meals display */
#bottom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#meals-display {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 120px);
    grid-row-gap: 2em;
    grid-column-gap: 2em;
}
.recipe-card {
    /* border: 1px solid black; */
    border-radius: 10px;
    text-align: center;
    background: var(--background-green);
    -webkit-box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2);
            box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.2a);
}